.feed{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}
.feed::-webkit-scrollbar{
    width: 0;
}
.feed-container{
    width: 100%;
    max-width: 468px;
    height: fit-content;
    min-height: 100%;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
}
.feed-post{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dbdbdb;
}
.feed-post:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.feed-header{
    width: 100%;
    height: 34px;
    /* background: red; */
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 0 10px;
}
.feed-propile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
}
.feed-propile-picture img{
    border-radius: 50%;

}
.feed-header-texts{
    display: flex;
    flex-direction: column;
}
.feed-header-top{
    display: flex;
    align-items: center;
}
.feed-header-top-username{
    color: #000000;
    font-size: var(--text-small);
}
.feed-header-top-dot{
    margin: 0 8px;
}
.feed-header-top-time{
    color: #737373;
    font-size: var(--text-small);
}
/* .feed-body{
    width: 100%;
    height: 100%;
    max-height: 585px;
    min-height: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffffff;
} */
.feed-body{
    width: fit-content;
    max-width: 100%;
    height: 100%;
    max-height: 585px;
    min-height: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
.feed-footer{
    width: 100%;
    height: 40px;
    margin: 4px 0;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
}
.feed-footer-left{
    display: flex;
    align-items: center;
}
.feed-footer-left-icon{
    margin: 8px 8px 8px 8px;
    cursor: pointer;
}
.feed-footer-left-icon:first-child{
    margin-left: 0;
}
.feed-footer-left-icon:last-child{
    margin-right: 0;
}
.feed-footer-right{

}
.feed-footer-right-icon{
    margin: 8px 8px 8px 8px;
    cursor: pointer;
}
.feed-info{
    padding: 0 8px;
    color: #000000;
    font-size: var(--text-small);
    font-weight: 600;
}
.feed-info span{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}


@media screen and (max-width: 500px) {
    .feed-container{
        padding: 80px 0;
    }
}